Debug/
Release/
data/scenes/
ipch/
*.ilk
*.lib
*.pdb
*.pyd
*.pyc
*.ncb
*.suo
*.vcproj.*
*.exp
*.bmp
*.*~
*.zip
*.obj
*.exe
*.opensdf
*.psess
*.sdf
*.vsp
*.log
shindig/parser/state_parser.hpp
shindig/parser/state_parser_lexer.cpp
shindig/parser/state_parser_symbols.hpp
