# top left (offset from top left corner)
20, 10

# item size (w, h)
120, 40

# border
2

# spacing
5

# background (0xaarrggbb)
0xff606020

# foreground
0xffc0c040

# mouse over
0xffe0e060

# clicked
0xffffff80
